@charset "utf-8";
/* ===================================================================

 file name  :clearfix.css
 style info :コンテンツエリア関係 他

=================================================================== */




/*----------------------------------------------------
	汎用class
----------------------------------------------------*/



/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
