@charset "utf-8";
/**
 * importまとめ
 */

@import url("init.css");
@import url("clearfix.css");
@import url("common.css");
@import url("index.css");
@import url("nextCup.css");
@import url("gameResult.css");
@import url("photo.css");
@import url("omoi.css");
