@charset "utf-8";
/**
 * gameResult.htmlç”¨
 */

div#movie {
    width:875px;
    margin-top:25px;
}
div#movie p {
    margin:25px 0 0 25px;
}
div#movie h3 {
    margin:25px 0 0 25px;
    font-size:1.9em;
    font-weight:bold;
}
div#movie dl dt {
    margin:25px 0 0 50px;
    font-size:1.4em;
    font-weight:bold;
}
div#movie dl dd {
    font-size:1.2em;
    margin:10px 0 0 75px;
}
