@charset "utf-8";
/**
 * photo.html用
 */

div#photo {
    width:875px;
    height:500px;
    position:relative;
    margin-top:25px;
}
div#photo h2 {
}
div#photo p {
    position:absolute;
    top:50%;
    left:50%;
    margin:0 0 0 -150px;
}
